@media (max-width:720px) {
    .main-menu {
        height: 50px;
    }

    .container-menu {
        width: 100%;
    }

    .navigation {
        float: left;
        display: block;
        width: 100%;
    }

    .core-menu {
        float: right;
        width: 100%;
        background: #1a1a1a;
        margin: auto;
        display: none;
    }

    .core-menu li {
        width: 100%;
        display: block;
    }

    .core-menu li a {
        display: block;
        margin: auto;
    }

    .hamburger-menu {
        display: block;
        text-align: center;
        padding-right: 60px;
        float: none;
        width: 100%;
    }

    .burger-1, .burger-2, .burger-3 {
        display: block;
        position: absolute;
        width: 20px;
        height: 3px;
        border-radius: 30px;
        right: 0;
        margin-right: 25px;
        background: #fff;
        -webkit-transition: .2s ease;
        -ms-transition: .2s ease;
        -moz-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease;
    }

    .burger-1 {
        top: 15px;
    }

    .burger-2 {
        top: 23px;
    }

    .burger-3 {
        top: 31px;
    }

    .burger-1.open, .burger-2.open, .burger-3.open {
        -webkit-transition: .2s ease;
        -ms-transition: .2s ease;
        -moz-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease;
        transform-origin: 50% 50%;
    }

    .burger-1.open {
        top: 25px;
        width: 23px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }

    .burger-2.open {
        opacity: 0;
    }

    .burger-3.open {
        top: 25px;
        width: 23px;
        transform: rotate(-45deg);
    }
    .sticky {

        top: 0;
        width: 100%;
    }

    .dropdown {
        width: 100%;
        background: #0e0e0e;
        position: relative;
    }

    .dropdown2 {
        right: 0;
        top: 0;
        width: 100%;
        position: relative;
        padding: 0 30px;

    }
    .footer .col {
        width: 100%;
    }
    .footer .col {
        width: 50%;
    }

    .footer .col h1 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 13px;
    }

}
