.navbar-collapse .navbar-nav > .nav-item > .nav-link > a,
.navbar-collapse .navbar-nav > .nav-item > .nav-link:hover,
.navbar-collapse .navbar-nav > .nav-item > .nav-link:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

.homepage-box {
    border: 1px solid #e5e5e5;
    box-shadow: 1px 1px 10px #989696;
    overflow: hidden;
}

.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    color: #f2f2f2;
}

.main-menu {
    display: block;
    position: relative;
    background: #070617;;
    height: 50px;
}

.container-menu {
    width: 80%;
    margin: 0 auto;
}

.main-menu:before, .main-menu:after {
    display: table;
    line-height: 0;
    content: "";
}

.core-menu {
    font: normal normal normal 1em/1 Roboto, sans-serif;
    overflow: hidden;
}

.core-menu li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

.core-menu li a {
    display: inline-block;
    padding: 1em;
}

.core-menu li a:hover {
    background: blue;
    text-decoration: none;
}

li span.toggle {
    padding-left: 1em;
}

.toggle:before {
    content: "\f107";
    font: normal normal normal 16px/1 FontAwesome;
}

.dropdown {
    position: absolute;
    width: 230px;
    background: #1a1a1a;
    display: none;
    z-index: 11111;
}

.dropdown li {
    display: block;
}

.dropdown li a {
    display: block;
}

.dropdown2 {
    position: absolute;
    width: 230px;
    background: #1a1a1a;
    text-align: left;
    display: none;
    right: -100%;
    top: 0;
    z-index: 11111;
}

.dropdown2 li {
    display: block;
}

.dropdown2 li a {
    display: block;
}

li span.toggle2 {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.toggle2:before {
    content: "\f105";
    font: normal normal normal 16px/1 FontAwesome;
}

.hamburger-menu {
    padding: 1em;
    display: none;
    font: normal normal normal 16px/1 Roboto;
    text-transform: uppercase;
}

a {
    color: white;
}

a:hover {
    color: white;
}

.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070617;
}

.footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}

.footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }

    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }

    .footer .col h1 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }

    .footer .col h1 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 13px;
    }
}

